.main-page {
    width: 100%;
    height: 100vh; 
    background-image: url("../images//main_background.jpeg");
    overflow: hidden;
}

.route-container {
    width: 100%; 
    margin-left: 0;
}

.cat-logo {
    width: 30px;
    height: 30px;
    margin-left: 28px;
    margin-top: 5px;
    cursor: pointer;
}

.sideArea {
    position: absolute;
    right: 1px;
    background-image: url("../images/gift-background.gif");
}

.music-container {
    width: 100%;
    justify-content: flex-end;
    display: flex;

    .music-box {
        width: 17.5rem;
        height: 65.5vh;
        border: 1px solid #f8a5c2;
        border-radius: 5px;
        margin-right: 10px;
        box-shadow: 10px 10px 10px 10px #f8a5c2;
        overflow-x: hidden; 
        overflow-y: hidden;
        background-image: url("../images/heart_background.jpg");
        background-repeat: no-repeat;
        background-size: 300px;

        .listName {
            margin-top: 9px;
            height: 261px;
        }

        .pendingTrack {
            display: flex;
            margin-top: 10px;
            margin-left: 10px;
            height: 30px;
            align-items: center;

            .playList {
                list-style: none;
                font-size: 15px;
                font-weight: 550;
                // margin-top: 4px;
                margin-left: 15px;
                color: #000;
            }

            & .trackIMG {
                width: 30px;
                height: 30px;
                object-fit: fill;
            }
        }

        @keyframes marquee {
            from {transform: translateX(0);}
            to {transform: translateX(-100%);}
        }
        
        @keyframes marquee-r {
            from {transform: translateX(-102.3%);}
            to {transform: translateX(0);}
        }
        
        @keyframes rollCage {
            from {transform: rotate(0);}
            to {transform: rotate(5turn);}
        }

        .marquee {
            font-size: 15px;
            font-weight: 500;
            margin-top: 4px;
            // height: calc(170px + 4rem);
            height: 20px;
            overflow: hidden;
            position: relative;
            width: 100vw;
            height: 30px;
            margin-top: 10px;
            margin-left: 10px;
        }
        
        .track {
            overflow: hidden;
            // padding: 2rem 0;
            position: absolute;
            transition: background-color 300ms ease, color 300ms ease;
            white-space: nowrap;

            & .trackIMG {
                width: 30px;
                height: 30px;
                object-fit: fill;
            }
            
            & .text {
                animation: marquee 50000ms linear infinite;
                align-items: center;
                display: inline-flex;
                will-change: transform;
                color: #000;
                
                &.-r {
                    animation-name: marquee-r;
                    margin-left: 18px;
                }
                
                &.-twox {
                    animation-duration: 25000ms;
                }
            }
        }

        .-green {
            margin-left: 170px;
            margin-right: 170px;
        }
        

        // .activeList {
        //     list-style: none;
        //     font-size: 15px;
        //     font-weight: 500;
        //     margin-top: 4px;
        //     margin-left: 15px;
        //     animation: marquee 30s linear infinite;   
        // }

        // @keyframes marquee {
        //     from { transform: translateX(0%); }
        //     to { transform: translateX(100%); }
        // }

        // @media (hover: hover) and (min-width: 700px){
        //     .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
        // }
            

        .audio-container {
            width: 17.4rem !important;
            padding-bottom: 45px;
            audio {
                // height: auto !important;
                border: 1px solid #f8a5c2;
                // margin-top: 279px;
                margin-top: 140px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                opacity: 80%;
                height: 50px !important;
                width: 100%;
                background: #f5f6fa;
                box-shadow: 0 0 20px 0 #000a;
            
                font-family: arial;
                color: white;
                font-size: 0.75em;
                overflow: hidden;
            
                display: grid;
                grid-template-rows: 6px auto;
            } 
        }
    }
}


.gift-container {
    width: 100%;
    height: 27vh;
    justify-content: flex-end;
    display: flex;
    overflow: hidden;

    .gift-box {
        width: 17.5rem;
        display: flex;
        // border: 1px solid #000;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 15px;
        justify-content: center;
    }
}

main {
    width: 100%;
    overflow: hidden;
    padding: 0px; 
    margin: 0px;
    // margin-left: 15px;
  
    .container {
        width: 100%; 
        height: 94.3vh; 
        overflow: hidden;
        margin: 0px auto; 
        position: absolute;
        border-radius: 10px;

        video { 
            width: 100%; 
            position: absolute; 
        }
  
        p {
            margin: 0;
        }
    }

    .video-container {
        video {
            height: auto !important;
            border-radius: 10px;
        }
    }

    .slider-container {
        width: 100%;
        height: 205px;
        bottom: -13px;
        position: absolute;
        // box-shadow: 40px 10px 30px 10px #000;
        box-shadow: 40px 50px 30px 10px #000;

        .bx-wrapper {
            border: none !important;
            background: none !important;
            box-shadow: 0 0 0;
            margin-bottom: 0 !important;
        }
    }

    .slider-birthday {
        padding-left: 0;
    }

    .five-items {
        position: absolute; 
        height: 205px;
        display: flex;
        flex-direction: row;
        background-image: url('../images/tape.png');
        background-size: contain;
        background-repeat: repeat-x;

        li img {
            width: 270px;
            height: 150px;
            margin-top: 1.8rem;
            border-bottom: 20px solid #000;
            border-top: 10px solid #000;
            border-left: 20px solid #000;
        }
    }

    .slider-image {
        width: 50px;
    }
    //   h1 {
    //     a {
    //       font-family: 'Cherry Bomb One', cursive;
    //     }
    //   }
  
    //   nav {
    //     ul {
    //       display: flex;
    //       justify-content: space-between;
    //       align-items: center;
  
    //       li {
    //         padding-left: 20px;
    //       }
    //     }
    //   }
  }