body{
    width: 100%;
    height: 425vh; 
    overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.modal-content {
    // background: linear-gradient(45deg, Violet, Orange);
    background:url("../images/gift_giving.jpeg");
    background-repeat: no-repeat;
    background-size: 870px;
    object-fit: fill;
    width: 100%;
    height: 500px;
}

.contained-modal-title-vcenter {
    background: linear-gradient(to right top, #f354cb, #6ea3e1) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
}

.gift-giving {
    width: 300px !important;
    height: 300px !important;
}

.gift-voucher {
    width: 150px !important;
    height: 300px !important;
}

.main-page {
    width: 100%;
    height: 425vh; 
    background-image: url("../images/main_background.jpeg");
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
        
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
}

.route-container {
    width: 100%; 
    margin-left: 0;
    position: fixed;
}

.nav-wrapper {
    z-index: 1155;
    align-items: center;
}

.nav-link {
    color: #636e72;
    font-weight: 600;
    text-decoration: none;
    &:hover { 
        color: black;
    }
}


.cat-logo {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
    cursor: pointer;
}

.sideArea {
    position: absolute;
    right: 1px;
    background-image: url("../images/gift-background.gif");
}

.music-container {
    position: relative;
    width: 100%;
    margin-top: 40px;
    justify-content: flex-end;
    display: flex;
    z-index: 1155;

    .music-box {
        width: 17.5rem;
        height: 65.5vh;
        border: 1px solid #f8a5c2;
        border-radius: 5px;
        margin-right: 10px;
        box-shadow: 10px 10px 10px 10px #f8a5c2;
        overflow-x: hidden; 
        overflow-y: hidden;
        background-image: url("../images/heart_background.jpg");
        background-repeat: no-repeat;
        background-size: 305px;

        .listName {
            margin-top: 9px;
            height: 261px;
        }

        .pendingTrack {
            display: flex;
            margin-top: 10px;
            margin-left: 10px;
            height: 30px;
            align-items: center;

            .playList {
                list-style: none;
                font-size: 15px;
                font-weight: 550;
                // margin-top: 4px;
                margin-left: 15px;
                color: #000;
            }

            & .trackIMG {
                width: 30px;
                height: 30px;
                object-fit: fill;
            }
        }

        @keyframes marquee {
            from {transform: translateX(0);}
            to {transform: translateX(-100%);}
        }
        
        @keyframes marquee-r {
            from {transform: translateX(-102.3%);}
            to {transform: translateX(0);}
        }
        
        @keyframes rollCage {
            from {transform: rotate(0);}
            to {transform: rotate(5turn);}
        }

        .marquee {
            font-size: 15px;
            font-weight: 500;
            margin-top: 4px;
            // height: calc(170px + 4rem);
            height: 20px;
            overflow: hidden;
            position: relative;
            width: 100vw;
            height: 30px;
            margin-top: 10px;
            margin-left: 10px;
        }
        
        .track {
            overflow: hidden;
            // padding: 2rem 0;
            position: absolute;
            transition: background-color 300ms ease, color 300ms ease;
            white-space: nowrap;

            & .trackIMG {
                width: 30px;
                height: 30px;
                object-fit: fill;
            }
            
            & .text {
                animation: marquee 50000ms linear infinite;
                align-items: center;
                display: inline-flex;
                will-change: transform;
                color: #000;
                
                &.-r {
                    animation-name: marquee-r;
                    margin-left: 18px;
                }
                
                &.-twox {
                    animation-duration: 25000ms;
                }
            }
        }

        .-green {
            margin-left: 170px;
            margin-right: 170px;
        }
        

        // .activeList {
        //     list-style: none;
        //     font-size: 15px;
        //     font-weight: 500;
        //     margin-top: 4px;
        //     margin-left: 15px;
        //     animation: marquee 30s linear infinite;   
        // }

        // @keyframes marquee {
        //     from { transform: translateX(0%); }
        //     to { transform: translateX(100%); }
        // }

        // @media (hover: hover) and (min-width: 700px){
        //     .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
        // }
            

        .audio-container {
            width: 100% !important;
            padding-bottom: 45px;
            max-height: 95px;
            audio {
                // height: auto !important;
                border: 1px solid #f8a5c2;
                // margin-top: 279px;
                margin-top: 140px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                opacity: 80%;
                background: #f5f6fa;
                box-shadow: 0 0 20px 0 #000a;
            
                font-family: arial;
                color: white;
                font-size: 0.75em;
                overflow: hidden;
            
                display: grid;
                grid-template-rows: 6px auto;
            } 
        }
    }
}


// .gift-container {
//     width: 100%;
//     height: 27vh;
//     justify-content: flex-end;
//     display: flex;
    
//     .gift-box {
//         width: 17.5rem;
//         display: flex;
//         // position: fixed;
//         // border: 1px solid #000;
//         border-radius: 5px;
//         margin-right: 10px;
//         margin-top: 15px;
//         justify-content: center;
//     }
// }

main {
    width: 100%;
    overflow: hidden;
    padding: 0px; 
    margin: 0px;
    // margin-left: 15px;
  
    .container {
        width: 100%; 
        height: 94.3vh; 
        overflow: hidden;
        margin: 0px auto; 
        position: absolute;
        border-radius: 10px;

        video { 
            width: 100%; 
            position: absolute; 
        }
  
        p {
            margin: 0;
        }
    }

    .video-container {
        video {
            height: auto !important;
            border-radius: 10px;
        }
    }

    .slider-container {
        width: 100%;
        height: 205px;
        bottom: -13px;
        position: absolute;
        // box-shadow: 40px 10px 30px 10px #000;
        box-shadow: 40px 50px 30px 10px #000;

        .bx-wrapper {
            border: none !important;
            background: none !important;
            box-shadow: 0 0 0;
            margin-bottom: 0 !important;
        }
    }

    .slider-birthday {
        padding-left: 0;
    }

    .five-items {
        position: absolute; 
        height: 205px;
        display: flex;
        flex-direction: row;
        background-image: url('../images/tape.png');
        background-size: contain;
        background-repeat: repeat-x;

        li img {
            width: 270px;
            height: 150px;
            margin-top: 1.8rem;
            border-bottom: 20px solid #000;
            border-top: 10px solid #000;
            border-left: 20px solid #000;
        }
    }

    .slider-image {
        width: 50px;
    }
    //   h1 {
    //     a {
    //       font-family: 'Cherry Bomb One', cursive;
    //     }
    //   }
  
    //   nav {
    //     ul {
    //       display: flex;
    //       justify-content: space-between;
    //       align-items: center;
  
    //       li {
    //         padding-left: 20px;
    //       }
    //     }
    //   }
  }

  @media screen and (min-height:875px) {
        @media screen and (max-height:880px) {
        .sideArea {
            .music-container {
                .music-box {
                    height: 70vh;
                    background-size: 410px;

                    .pendingTrack {
                        margin-top: 20px;
                        margin-left: 15px;
                        height: 33px;
                    }

                    .audio-container {
                        max-height: 105px;
                        audio {
                            margin-top: 270px;
                        }
                    }
                }
            }
        }
    }   
}

  @media screen and (max-width:1024px) {
    main {
        .container {
            width: 65%;
        }   
    }

    .sideArea {
        height: 100vh;
        .music-container {
            .music-box {
                height: 100%;
                .listName {
                    margin-top: 0;
                }
                .audio-container {
                    padding-bottom: 0;
                    audio {
                        margin-top: 150px;
                    }
                }
            }
        }
    }
  }

  @media screen and (max-width:767px) {
    main {
        .container {
            display: none;
        }
    }

    .sideArea {
        .music-container {
            width: 100vw;
            height: 100vh;
            justify-content: center;
            padding-top: 30px;
            display: flex;
            .music-box {
                height: 80%;
                background-size: 53vh;
                
                .listName {
                    margin-top: 0;
                    height: 90%;
                }
        
                .pendingTrack {
                    margin-top: 25px;
                    height: 2.5vh;

                    .playList {
                        font-size: 4vw;
                    }
                }

                .marquee {
                    font-size: 4vw;
                }

                .audio-container {
                    padding-bottom: 45px;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
    }
  }

  @media screen and (max-width:380px) {
    .sideArea {
        .music-container {
            .music-box {
                .listName {
                    height: 87%;
                }
            }
        }
    }
  }

  @media screen and (min-width:1500px) {
    main {
        .container {
            max-width: 75vw;
        }

        .five-items {
            li img {
                width: 300px;
            }
        }
    }
    .cat-logo {
        width: 50px;
        height: 50px;
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .nav-link { 
        font-size: 20px;
    }

    .sideArea {
        margin-top: 20px;
        right: 11px;
        .music-container {
            width: 29rem;
            .music-box {
                width: 25rem;
                background-size: 400px;
        
                .listName {
                    margin-top: 9px;
                    height: 261px;
                }
        
                .pendingTrack {
                    margin-top: 20px;
                    margin-left: 15px;
                    height: 30px;
        
                    .playList {
                        font-size: 18px;
                        font-weight: 600;
                        margin-left: 20px;
                    }
        
                    & .trackIMG {
                        width: 40px;
                        height: 40px;
                    }
                }
        
                .marquee {
                    font-size: 18px;
                    font-weight: 550;
                    margin-top: 0;
                }
        
                .audio-container {
                    max-height: 105px;
                    audio {
                        margin-top: 235px;
                    }
                }
            }
        }
    }

    @media screen and (min-height:1000px) {
        .sideArea {
            .music-container {
                .music-box {
                    height: 70vh;
                    background-size: 490px;
                    .listName {
                        height: 425px;
                    }

                    .pendingTrack {
                        margin-top: 25.5px;
                        margin-left: 15px;
                        height: 40px;
            
                        .playList {
                            font-size: 21px;
                            font-weight: 550;
                            margin-left: 20px;
                        }
        
                    }
            
                    .marquee {
                        font-size: 21px;
                        font-weight: 550;
                    }

                    .audio-container {
                        max-height: 105px;
                        audio {
                            margin-top: 226px;
                        }
                    }
                }
            }
        }
    }
}
  